<%= form_for @reminder, :url => return_reminders_path(@return) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :return_date %><br />
    <%= f.date_select :return_date %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br />
    <select name="frequency" id="frequency">
      <option value="">Select Frequency</option>
      <option value="1" <% if @reminder.frequency == 1 %> selected="selected" <% end %>>Daily</option>
      <option value="2" <% if @reminder.frequency == 2 %> selected="selected" <% end %>>Every Other Day</option>
      <option value="3" <% if @reminder.frequency == 3 %> selected="selected" <% end %>>Every 7 Days</option>
      <option value="4" <% if @reminder.frequency == 4 %> selected="selected" <% end %>>Every 14 Days</option>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
