<%= form_for(@lend) do |f| %>
  <% if @lend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lend.errors.count, "error") %> prohibited this lend from being saved:</h2>

      <ul>
      <% @lend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.number_field :to %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
