<% if current_user %>
<div>
  <%= button_to 'New Lend', new_lend_path, :method=>:get, :class=>"btn btn-primary float" %>
  <%= button_to 'New Return', new_return_path, :class=>"btn btn-primary float" %>
</div>
<br><br>
  <h1>My Active Lend Requests</h1>

  <table class="table table-striped">
    <tr>
      <th>Status</th>
      <th>To</th>
      <th> Item </th>
      <th></th>
    </tr>

  <% @lends_open.each do |lend| %>
    <tr>
      <td><%= lend.status %></td>
      <td>
        <% if lend.to_id == nil %>
          <%= "Waiting for a nice person to lend" %>
        <% else %>
          <%= User.find(lend.to_id).email %>
        <% end %>
      </td>
      <td><%= lend.item.name %> </td>
      <td><%=button_to "Cancel", lend, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger"%></td>
    </tr>
  <% end %>

  <% @lends_pending.each do |lend| %>
    <tr>
      <td><%= lend.status %></td>
      <td>
        <% if lend.to_id == nil %>
          <%= "Waiting for a nice person to lend" %>
        <% else %>
          <%= User.find(lend.to_id).email %>
        <% end %>
      </td>
      <td><%= lend.item.name %> </td>
      <td><%=button_to "Return", root_url, method: :get, :class => "btn btn-small btn-warning" %> </td>
    </tr>
  <% end %>
  </table>

  <br />

  <h1> People are looking for these items: </h1>

  <table class="table table-striped">
  <tr>
    <th> User </th>
    <th> Item </th>
    <th> </th>
  </tr>

  <% @lends_others.each do |lend| %>
  <tr>
  <th> <%= User.find(lend.user_id).email %></th>
  <th> <%= lend.item.name %></th>
  <td><%=button_to "Accept", new_return_path(:id => lend.id), :class => "btn btn-small btn-success"%></td>
  </tr>
  <% end %>
  </table>
<% else %>
  <h1> People are looking for these items: </h1>

  <table>
  <tr>
    <th> User </th>
    <th> Item </th>
  </tr>

  <% @lends.each do |lend| %>
  <tr>
  <th> <%= User.find(lend.user_id).email %></th>
  <th> <%= lend.item.name %></th>
  </tr>
  <% end %>
  </table>
<% end %>