<% if current_user %>
<div>
  <br>
  <div style="text-align:center; white-space:nowrap;">
    <div class="btn-toolbar">
      <div class="btn-group">
  <%= button_to 'New Lend', new_lend_path, :remote => true, :method => :get, :class => "btn btn-large btn-primary" %>
</div>
            <div class="btn-group"> </div>

      <div class="btn-group">
  <%= button_to 'New Return', new_return_path, :remote => true, :method => :get, :class => "btn btn-large btn-primary" %>
</div>
</div>
  </div>


  <div class="modal hide fade" style="display:none;">
  </div>
    <input id="search" type="text" class="search-query" placeholder="Search">
    <a class="btn dropdown-toggle" id="btn_filter">Filter <span class="caret"></span></a>
  <div class="tagView" id="tagView">
  </div>
<br>
  <h2>My Active Lend Requests</h2>

  <table class="table table-striped">
    <tr>
      <th>Status</th>
      <th>To</th>
      <th> Item </th>
      <th> Return by </th>
      <th> Tags </th>
      <th></th>
    </tr>

  <% @lends_open.each_with_index do |lend,index| %>
    <tr class="lend" data-tags="<%=@tags_open[index].map { |val| val.id }%>">
      <td><%= lend.status %></td>
      <td>
        <% if lend.to_id == nil %>
          <%= "Waiting for a nice person to lend" %>
        <% else %>
          <%= image_tag User.find(lend.user_id).avatar.url(:thumb) %>
          <%= link_to User.find(lend.user_id).email, user_path(:id => lend.user_id) %>
        <% end %>
      </td>
      <td><%= lend.item.name %> </td>
      <td> </td>
      <td> <%= (@tags_open[index].map { |val| val.tag }).join(", ") %> </td>
      <td><%=button_to "Cancel", lend, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger"%></td>
    </tr>
  <% end %>

  </table>

  <br />

  <h2> People are looking for these items: </h2>

  <table class="table table-striped">
  <tr>
    <th> User </th>
    <th> Item </th>
    <th> Tags </th>
    <th> </th>
  </tr>

  <% @lends_others.each_with_index do |lend,index| %>
  <tr class="lend" data-tags="<%=@tags_others[index].map { |val| val.id }%>">
  <td>  <%= image_tag User.find(lend.user_id).avatar.url(:thumb) %>
    <%= link_to User.find(lend.user_id).email, user_path(:id => lend.user_id) %></td>
  <td> <%= lend.item.name %></td>
  <td><%= (@tags_others[index].map { |val| val.tag }).join(", ") %></td>
  <td>
    <div class="btn-group">
    <%= button_to 'Accept', new_return_path(:id => lend.id), :remote => true, :method => :get, :class => "btn btn-small btn-success" %></div>
    <div class="btn-group">
    <% if lend.item.item_reports.where(:user_id=>current_user.id).empty? %> 
      <%= button_to 'Report', new_item_report_path(:id => lend.item.id), :remote => true, :method => :get, :class => "btn btn-small btn-warning" %>
    </div>
    <% else %>
       <%= button_to 'Reported', item_report_path(:id => lend.item.id), :remote => true, :method => :get, :class => "btn btn-small btn-danger" %>
    <% end %>
  </td>
  </tr>
  <% end %>
  </table>
<% else %>
<div class="hero-unit"><h1>About</h1> <br>
  With SnapBack, you can lend and borrow, with ease with the knowledge that you'll find what you need and get what you lend back in a snap!
  
  <div >
  <%= button_to "Sign up", signup_path, :method => "get", :class => "btn btn-large btn-primary float" %>
  <%= button_to "Log in", login_path, :method => "get", :class => "btn btn-large btn-primary float" %>
  </div>

  <br><br>
</div>

<% end %>
