<h1>Need to Return</h1>
<% if !@lends_pending.nil? %>
  <table class="table table-striped">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> User</th>
    <th> </th>
  </tr>

  <% @lends_pending.each do |lend| %>
    <tr>
      <td><%= lend.status %></td>
      <td>
        <% if lend.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= User.find(lend.to_id).email %>
        <% end %>
      </td>
      <td><%= lend.item.name %> </td>
      <td><%= button_to "Return", activity_path, method: :get, :class => "btn btn-small btn-success" %> </td>
    </tr>
  <% end %>
  </table>
<% end %>

<br>

<h1>What I've Lent</h1>
<br>
<% if !@returns_lent.nil? %>
  <!--<h2> Still not returned </h2> -->
  <table class="table table-striped">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> User</th>
    <th> </th>
  </tr>
  <% @returns_lent.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= User.find(r.to_id).email %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td><%= button_to "Cancel", activity_path, method: :get,data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<!--<% if !@returns_returned.nil? %>
  <h2> Returned to you, please confirm </h2>
  <table class="table">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> User</th>
    <th> </th>
  </tr>
  <% @returns_returned.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= User.find(r.to_id).email %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td><%= button_to "Confirm", :class => "btn btn-small btn-success"  %> </td>
    </tr>
  <% end %>
  </table>
<% end %>

<% if !@returns_close.nil? %>
  <h2> Close requests </h2>
  <table class="table">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> User</th>
  </tr>
  <% @returns_close.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= User.find(r.to_id).email %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h1> Past Returned Items </h1>
<% if !@lends_close.nil? %>
  <table class="table">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> User</th>
  </tr>
  <% @lends_close.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= User.find(r.to_id).email %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
    </tr>
  <% end %>
  </table>
<% end %> -->