<h1>Need to Return</h1>
<% if !@lends_pending.nil? %>
  <table class="table table-striped">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> Item</th>
    <th> Return by </th>
    <th> </th>
    <th> </th>
  </tr>

  <% @lends_pending.each do |lend| %>
    <% if lend.item.return.status == "lent" %>
    <tr>
      <td><%= lend.status %></td>
      <td>
        <% if lend.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= image_tag User.find(lend.to_id).avatar.url(:thumb) %>
          <%= link_to User.find(lend.to_id).email, user_path(:id => lend.to_id) %>
        <% end %>
      </td>
      <td><%= lend.item.name %> </td>
      <td><%= lend.item.return.reminder.return_date.strftime("%d %b %Y") %></td>
      <td><%= button_to "Return", return_item_path(lend.item.id), method: :post, :class => "btn btn-small btn-success" %> </td>
      <td><%= button_to "Cancel", lend, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %> </td>
    </tr>
    <% elsif lend.item.return.status == "returning" %>
    <tr>
      <td>Waiting for confirmation</td>
      <td>
        <% if lend.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= image_tag User.find(lend.to_id).avatar.url(:thumb) %>
          <%= link_to User.find(lend.to_id).email, user_path(:id => lend.to_id) %>
        <% end %>
      </td>
      <td><%= lend.item.name %> </td>
      <td><%= lend.item.return.reminder.return_date.strftime("%d %b %Y") %></td>
      <td></td>
    </tr>
    <% end %>
  <% end %>
  </table>
<% end %>

<br>

<h1>What I've Lent</h1>
<br>
  <table class="table table-striped">
  <tr>
    <th>Status</th>
    <th> To </th>
    <th> Item</th>
    <th> Return by </th>
    <th> </th>
  </tr>
<% if !@returns_open.nil? %>

  <% @returns_open.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= image_tag User.find(r.to_id).avatar.url(:thumb) %>
          <%= link_to User.find(r.to_id).email, user_path(:id => r.to_id) %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td><%= r.reminder.return_date.strftime("%d %b %Y") %></td>
      <td><%= button_to "Cancel", r, method: :delete,data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %></td>
    </tr>
  <% end %>
<% end %>

<% if !@returns_lent.nil? %>

  <% @returns_lent.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
        <%= image_tag User.find(r.to_id).avatar.url(:thumb) %>
          <%= link_to User.find(r.to_id).email, user_path(:id => r.to_id) %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td><%= r.reminder.return_date.strftime("%d %b %Y") %></td>
      <td> </td>
    </tr>
  <% end %>
<% end %>

  <div class="modal" style="display:none;">
  </div>
  
  <% if !@returns_returned.nil? %>

  <% @returns_returned.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= image_tag User.find(r.to_id).avatar.url(:thumb) %>
          <%= link_to User.find(r.to_id).email, user_path(:id => r.to_id) %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td><%= r.reminder.return_date.strftime("%d %b %Y") %></td>
      <td><%= button_to "Confirm", confirm_item_path(r.item.id), :remote => true, method: :post, :class => "btn btn-small btn-success"  %> </td>
    </tr>
  <% end %>
<% end %>

<% if !@returns_close.nil? %>

  <% @returns_close.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
        <%= image_tag User.find(r.to_id).avatar.url(:thumb) %>
          <%= link_to User.find(r.to_id).email, user_path(:id => r.to_id) %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td><%= r.reminder.return_date.strftime("%d %b %Y") %></td>
      <td> </td>
    </tr>
  <% end %>
<% end %>
</table>

<!--
<% if !@lends_close.nil? %>

  <% @lends_close.each do |r| %>
    <tr>
      <td><%= r.status %></td>
      <td>
        <% if r.to_id == nil %>
          <%= "Waiting" %>
        <% else %>
          <%= User.find(r.to_id).email %>
        <% end %>
      </td>
      <td><%= r.item.name %> </td>
      <td> </td>
    </tr>
  <% end %>
<% end %>
-->
