<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @user_report.description %>
</p>

<p>
  <b>User:</b>
  <%= @user_report.user_id %>
</p>

<p>
  <b>Reported user:</b>
  <%= @user_report.reported_user %>
</p>


<%= link_to 'Edit', edit_user_report_path(@user_report) %> |
<%= link_to 'Back', user_reports_path %>
