<%= form_tag('/returns/', :method => :post) %>
  
  <div>
    From: <%= current_user.email %>
  </div>
  <div>
    <% if !@lend.nil? %>
      To: <%= @lend.user.email %>
        <%= hidden_field :return, :to_id, :value => @lend.user.id %>
        <%= hidden_field_tag :item_id, @lend.item.id %>
    <% else %>
      <div class="field">
      To: <%= text_field_tag "email" %>
    </div>
      <div class="field">
      Item: <%= text_field_tag "item_name"%>
    </div>
    <% end %>
  </div>
  <div class="field">
    <%= label_tag "return_date" %><br />
    <%= select_date(date = Date.current) %>
  </div>
  <div class="field">
    <%= label_tag "frequency" %><br />
    <select name="frequency" id="frequency">
      <option value="">Select Frequency</option>
      <option value="1">Daily</option>
      <option value="2" >Every Other Day</option>
      <option value="3">Every 7 Days</option>
      <option value="4">Every 14 Days</option>
    </select>
  </div>


  <%= hidden_field :return, :user_id, :value => current_user.id %>
  <div class="actions">
    <%= submit_tag 'Accept request', :class => "btn btn-primary" %>
  </div>
