<h1>Listing returns</h1>

<table>
  <tr>
    <th>Status</th>
    <th>To</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @returns.each do |return| %>
  <tr>
    <td><%= return.status %></td>
    <td><%= return.to %></td>
    <td><%= return.user_id %></td>
    <td><%= link_to 'Show', return %></td>
    <td><%= link_to 'Edit', edit_return_path(return) %></td>
    <td><%= link_to 'Destroy', return, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Return', new_return_path %>
