<h1>Listing returns</h1>

<table>
  <tr>
    <th>Status</th>
    <th>To</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @returns.each do |r| %>
  <tr>
    <td><%= r.status %></td>
    <td><%= r.to %></td>
    <td><%= r.user_id %></td>
    <td><%= link_to 'Show', r %></td>
    <td><%= link_to 'Edit', edit_return_path(r) %></td>
    <td><%= link_to 'Reminder', return_reminders_path(r) %></td>
    <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Return', new_return_path %>
