<!DOCTYPE html>
<html>
<head>
  <title>SnapBack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="mainNav" class="navbar">
            <div class="navbar-inner">
            <div class="brand">
                <h1><a href="/"> SnapBack </a></h1>
            </div>
            <ul class="nav">
              <% if current_user %>
                  <li> <a>Welcome, <%= current_user.email %></a></li>
                  <li id="btn_home"><%= link_to "Home", root_url %></li>
                  <li id="btn_act"><%= link_to "Activity", activity_path %></li>
                  <li id="btn_about"><%= link_to "About", about_path %></li>
                  <li id="btn_logout"><%= link_to "Log out", logout_path %></li>
              <% else %>
                  <li id="btn_signup"><%= link_to "Sign up", signup_path %></li>
                  <li id="btn_login"><%= link_to "Log in", login_path %></li>
              <% end %>
            </ul>
          </div>



              </div><!--/.nav-collapse -->
          </div>
      </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
